* {
    font-family:'Archivo Narrow', sans-serif;
}

#pgto {
    color: red;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    text-align: center;
    display: block;
}

#rodape {
    font-size: 10px;
    color: black;
}

strike {
    font-size: 15px;
}

.valor_atual {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.descricao {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.box_produto {
    width: 25%;
    height: 25%;
    vertical-align: bottom;
    text-align: center;
    display: inline-flex;
    position: relative;
    padding: 15px; 
    border-left: 50px;
    margin-top: 50px;
    margin-right: 0;
}

.nossas_lojas {
    width: 33%;
    height: 50%;
    text-align: center;
    display: inline-block;
    padding: 50px, 10px, 50px, 10px;
}

.contato {
    display:inline-block;
    width: 33%;
    height: 50%;
    text-align: center; 
    margin: 50px;
    padding: 50px;
}


.categorias {
    width: 50%;
    text-align: center;
    justify-self: start;
    padding-bottom: initial;
}

