body {
    font-family: Arial, Helvetica, sans-serif;
}
#pgto {
    color: red;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    text-align: center;
    display: block;
}
#rodape {
    font-size: 10px;
    color: black;
}
.menu {
    background-color: red;
    text-decoration: none;
    position: relative;
 
}
.menu a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 15%;
    padding: 20px;
    margin-left: 20px;

}

ul li{
    list-style-type: none;
    
}

strike {
    font-size: 15px;
}
.valor_atual {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.descricao {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.box_produto {
    width: 25%;
    height: 20%;
    vertical-align: bottom;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-left: 50px;
    margin-bottom: 30px;
}
.produtos {
    float: left;
    margin-left: 150px;
    margin-right: 0;
    margin-bottom: 150px;
    width: 90%;
    
}

.nossas_lojas {
    width: 33%;
    height: 50%;
    text-align: center;
    display: inline-block;
    padding: 50px, 10px, 50px, 10px;
}

.contato {
    display:inline-block;
    width: 33%;
    height: 50%;
    text-align: center; 
    margin: 50px;
    padding: 50px;
}

.msg {
    text-align: center;
    font-weight: bold;
    color: red;
}

.categorias {
    position: fixed;
    float: left;
    width: 15%;
    text-align: left;
    box-sizing: border-box;
}
button {
    background: green;
    text-align: center;
    font-weight: bold;
    color: snow;
    border-radius: 10px;
    padding: 10px;
}
#carrinho {
    text-align: center; 
    font-weight: bold; 
    font-size: large;
    background-color: rgb(212, 209, 209); 
    font-family: Arial, Helvetica, sans-serif;
}